* {
  margin: 0;
  padding: 0;
}

#welcomeId {
  color: rgb(217, 127, 255);
}

nav {
  background-color: #626f47;
  display: flex;
}

#box {
  padding: 40px;
  border-radius: 8px;
  margin: 100px auto;
  background: #a4b465;
  height: 100%;
  width: 90vw;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
